*{
    margin:0;
    padding:0;
}

header{
    background-color: #03045E;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-between;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: "kumbh sans";
    opacity:0.1;
}
header div img{
    width:15%;
}
header div a{
    color:white;
    text-decoration: none;
    font-weight:600;
    font-family:"kumbh sans";
    font-size:120%;
}
header div a:hover{
    color:yellow;
    transition:0.2s;
}
div ul li{
    text-decoration:none;
    display:inline;
}
div ul li a{
    text-decoration:none;
    color: white;
    font-weight:600;
    font-size:120%;
    margin-left: 10px;
    margin-right:10px;
}
div ul li a:hover{
    color:yellow;
    transition:0.2s;
}
form{
    font-size:20px;
    position: absolute;
    top:20%;
    left:30%;
    border:1px solid black;
    padding:20px;
    width:40%;
    height:55%;
    background-color: white;
    box-shadow: 10px 10px 10px grey;
}
form div p{
    border-radius: 2px;  
}
.frm{
    display:flex;
}
[type="button"]{
    padding:5px 10px;
    background-color:#03045E;
    border-color:#03045E;
    color:white;
    font-family:"kumbh sans";
    font-weight:bold;
    margin-top:15px;
    margin-left:20px;
}
[type="button"]:hover{
    background-color:white;
    border-color:white;
    color:#03045E;
    transition:0.2s;
}