*{
    margin:0;
    padding:0;
}

header{
    background-color: #03045E;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-between;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: 'kumbh sans',sans-serif;
}
header div img{
    width:15%;
}

div ul li{
    text-decoration:none;
    display:inline;
}
div ul li a{
    text-decoration:none;
    color: white;
    font-weight:600;
    font-size:120%;
    margin-left: 10px;
    margin-right:10px;
}
div ul li a:hover{
    color:yellow;
    transition:0.2s;
}
main section div a{
    text-decoration:none;
}
#GWS{
    background-image:linear-gradient(#90E0EF,#aee8f2,#bcebf3,#aee8f2,#90e0ef);
    background-repeat:no-repeat;
    background-size: cover;
    padding:40px 0;
    margin-top: 20px;
    margin-left:20px;
    margin-right:20px;
    border-radius:20px;
    display:flex;
    justify-content: space-around;
    font-family: 'source sans pro',sans-serif;
}
#GWS img{
    width:100%;
    height:100%;
}
#GWS div{
    margin-left:30px;
}
#GWS div h1{
    font-size: 65px;
    width:50%;
}
button{
    padding:10px 15px;
    border-radius:10px;
    background-color:#03045E;
    border-color:#03045E;
    color:white;
    font-family:'source sans pro',sans-serif;
    font-weight:bold;
    font-size:22px;
}
button:hover{
    background-color:white;
    border-color:white;
    transition:0.2s;
    color:#03045E;
}
#about_us{
    background-color:transparent;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    color:black;
    margin-top: 5px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom:5px;
    padding:30px 0;
    font-size:16px;
    font-family:'kumbh sans',sans-serif;
}

.box{
    display:flex;
    justify-content: space-around;
}
.box div{
    border:1px solid black;
    box-shadow:4px 4px 4px grey;
    border-radius:10px;
}
.box div:hover{
    transform:scale(1.1);
    transition:0.5s;
}
header,main,footer{
    opacity:0.1;
}
form{
    background-color:white;
    width:20%;
    height:25%;
    position:absolute;
    top:40%;
    left:40%;
    border:1px solid black;
    box-shadow:5px 5px 5px grey;
    padding: 20px;
}
.login{
    border-radius:2px;
    border-color:darkcyan;
    background-color:darkcyan;
    color:white;
}
form div a{
    text-decoration:none;
    font-size:10px;
}
footer{
    margin-top:5px;
    background-color: #CAF0F8;
    color:#03045E;
}
footer div.ftr{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    border-bottom: 1px solid white;
}
footer div img{
    width:10%;
    position:relative;
    left:45%;
}

