*{
    margin:0;
    padding:0;
}

header{
    background-color: #03045E;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-between;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: "kumbh sans";
}
header div img{
    width:15%;
}
div ul li{
    text-decoration:none;
    display:inline;
}
div ul li a{
    text-decoration:none;
    color: white;
    font-weight:600;
    font-size:120%;
    margin-left: 10px;
    margin-right:10px;
}
div ul li a:hover{
    color:yellow;
    transition:0.2s;
}
main{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-around;
    align-content:center;
    height:80%;
}
main div{
    border:1px solid black;
    border-radius: 20px;
    box-shadow:10px 10px 10px grey;
    width:15%;
    padding:20px;
    margin-top:5%;
    background-color:white;
}
main div i{
    font-size:90px;
    margin-left: 50px;
}
main div h2{
    margin-left:50px;
}
main div a{
    text-decoration: none;
    color:#03045E;
}
footer{
    margin-top:5px;
    background-color: #00B4D8;
    color:white;
}
footer div.ftr{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    border-bottom: 1px solid white;
}
footer div img{
    width:10%;
    position:relative;
    left:45%;
}
header,main,footer{
    opacity:0.1;
}
form{
    background-color:white;
    font-family: "source sans pro";
    border:5px solid transparent;
    display:block;
    border-radius: 1px;
    width:20%;
    height:25%;
    position:absolute;
    top:40%;
    left:40%;
    border:1px solid black;
    box-shadow:10px 10px 10px grey;
    padding:20px;
}

[type=text]{
    border:1px solid black;
    border-radius:5px;
    width:210px;
    height:25px;
    margin-left:3px;
    background-color:white;
}

[type="submit"]{
    padding:5px 10px;
    background-color:#03045E;
    border-color:#03045E;
    border-radius:5%;
    color:white;
    font-family:"source sans pro";
    font-weight:bold;
    margin-left: 10px;
}
 form div a{
    text-decoration:none;
    color:white;
}