*{
    margin:0;
    padding:0;
}
body{
   
    font-family:"source sans pro";
}
header{
    background-color: #03045E;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-between;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: "kumbh sans";
}
header div img{
    width:15%;
}
header div a{
    color:white;
    text-decoration: none;
    font-weight:600;
    font-family:"kumbh sans";
    font-size:120%;
}
header div a:hover{
    color:yellow;
    transition:0.2s;
}
div ul li{
    text-decoration:none;
    display:inline;
}
div ul li a{
    text-decoration:none;
    color: white;
    font-weight:600;
    font-size:120%;
    margin-left: 10px;
    margin-right:10px;
}
div ul li a:hover{
    color:yellow;
    transition:0.2s;
}
main{
    display:flex;
    justify-content: space-around;
}
form{
    padding:30px;
    margin-top:10px;
    margin-bottom:10px;
}
div.frm{
    display:flex;
}
[type="button"]{
    padding:10px 15px;
    border:none;
    background-color:#03045E;
    border-color:#03045E;
    color:white;
    font-weight: bold;
    border-radius: 200px;
}
[type="button"]:hover{
    background-color:green;
    border-color:green;
    transition:0.3s;
}
[type="reset"]{
    padding:10px 15px;
    border:none;
    background-color:#03045E;
    border-color:#03045E;
    color:white;
    font-weight: bold;
    border-radius:200px;
}
[type="reset"]:hover{
    background-color:red;
    border-color:red;
    transition:0.3s;
}