#header{
    background-color: #03045E;
    padding-top: 15px;
    padding-bottom: 15px;
    display:flex;
    justify-content: space-between;
}

#header{
    background-color: #03045E;
    padding-top: 15px;
    padding-bottom: 15px;
    display:flex;
    justify-content:space-between;
    align-items: center;
}
#header #avatar{
    width:100%;
}
#header ul{
    list-style-type:none;
    margin:0;
    padding:0;
    overflow:hidden; 
    display:inline;
}
#header ul li, .dropdown{
    display:inline;
}
ul li a,.dropbtn{
    display:inline-block;
    color:white;
    font-size:20px;
    font-weight: 500;
    padding:10px;
    text-decoration: none;
}
ul li a:hover, .dropdown:hover .dropbtn{
    color:yellow;
    transition: 0.3s;
}
.dropdown-content{
    display:none;
    position:absolute;
    background-color:white;
    padding:10px 0;
    min-width: 150px;
    box-shadow:5px 5px 5px grey;
    font-family:sans-serif;
    z-index:1;
}
.dropdown-content a{
    color:#03045E;
    padding:20px 0;
    padding-left: 10px;
    text-decoration:none;
    display:block;
}
.dropdown-content a:hover{
    background-color:lightgrey;
    color:rgb(2, 51, 2);
    transition:0.4s;
}
.dropdown:hover .dropdown-content{
    display:block;
}
#vision,#vision-2{
    display:none;
}
form{
    margin-top:2%;
    margin-left:5%;
    font-size: 20px;
}
div .field{
    display:flex;
    justify-content: flex-start;
}
[type="text"],[type="tel"],[type="email"],[type="email"],[type="number"]{
    width:20%;
    height:20px;
}
 [type="submit"]{
    background-color: #caf0f8;
    border: none;
    color:#03045E;
    font-weight: bold;
    padding:10px;
}
[type="submit"]:hover{
    background-color: green;
    color:white;
    transition: 0.2s;
}
footer div.ftr{
    background-image: linear-gradient(transparent, #caf0f8ab, #caf0f8);
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    border-bottom: 1px solid white;
}
footer div img{
    width:10%;
    position:relative;
    left:45%;
}