*{
    margin:0;
    padding:0;
}
body{
    background-image: url(../images/imageedit_1_2219463975.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: sans-serif;
}
form{
    background-color:white;
    position:absolute;
    width:20%;
    top:30%;
    left:40%;
    border:1px solid black;
    border-radius: 5%;
    box-shadow:5px 5px 5px grey;
    padding:2%;
}
form div a{
    text-decoration:none;
    color:blue;
}
form div button{
    padding:10px 20px;
    color:white;
    font-weight: bold;
    background-color: #03045e;
    border: none;
    border-color: #03045e;
    border-radius:20px;
}
form div button:hover{
    background-color:green;
    border-color:green;
    transition:0.4s;
}