*{
    margin:0;
    padding:0;
}
body{
   
    font-family:'source sans pro',sans-serif;
}
#header{
    background-color: #03045E;
    padding-top: 15px;
    padding-bottom: 15px;
    display:flex;
    justify-content: space-between;
}

#header{
    background-color: #03045E;
    padding-top: 15px;
    padding-bottom: 15px;
    display:flex;
    justify-content:space-between;
    align-items: center;
}
#header #avatar{
    width:100%;
}
#header ul{
    list-style-type:none;
    margin:0;
    padding:0;
    overflow:hidden; 
    display:inline;
}
#header ul li, .dropdown{
    display:inline;
}
ul li a,.dropbtn{
    display:inline-block;
    color:white;
    font-size:20px;
    font-weight: 500;
    padding:10px;
    text-decoration: none;
}
ul li a:hover, .dropdown:hover .dropbtn{
    color:yellow;
    transition: 0.3s;
}
.dropdown-content{
    display:none;
    position:absolute;
    background-color:white;
    padding:10px 0;
    min-width: 150px;
    box-shadow:5px 5px 5px grey;
    font-family:sans-serif;
    z-index:1;
}
.dropdown-content a{
    color:#03045E;
    padding:20px 0;
    padding-left: 10px;
    text-decoration:none;
    display:block;
}
.dropdown-content a:hover{
    background-color:lightgrey;
    color:rgb(2, 51, 2);
    transition:0.4s;
}
.dropdown:hover .dropdown-content{
    display:block;
}
#vision,#vision-2{
    display:none;
}
main{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content: space-around;
}
form{
    padding:30px;
    margin-top:10px;
    margin-bottom:10px;
    border:1px solid black;
}
div.frm{
    display:flex;
}
[type="button"]{
    padding:10px 15px;
    border:none;
    background-color:#03045E;
    border-color:#03045E;
    color:white;
    font-weight: bold;
    border-radius: 200px;
}
[type="button"]:hover{
    background-color:green;
    border-color:green;
    transition:0.3s;
}
[type="submit"]{
    padding:10px 15px;
    border:none;
    background-color:#03045E;
    border-color:#03045E;
    color:white;
    font-weight: bold;
    border-radius:200px;
}
[type="submit"]:hover{
    background-color:green;
    border-color:green;
    transition:0.3s;
}
[type="reset"]{
    padding:10px 15px;
    border:none;
    background-color:#03045E;
    border-color:#03045E;
    color:white;
    font-weight: bold;
    border-radius:200px;
}
[type="reset"]:hover{
    background-color:red;
    border-color:red;
    transition:0.3s;
}


@media screen and (max-width:800px) {
    header{
        justify-content:unset;
        flex-wrap: nowrap;
        align-items: center;
        width:100%;
    }
    #hide{
        font-weight:400;
        font-family:'kumbh sans',sans-serif;
        font-size:70%;
        margin-left:-250px;
    }
    header div ul li a{
        margin-left:5px;
        margin-right:5px;
    }
    main{
        background-image: url(../images/imageedit_1_2739336866.png);
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-size: cover;
    }
    main img{
        display:none;
    }
    form{
        background-color: white;
        font-size:60%;
        width:65%;
    }
     div br{
        display:none;
    }
    input,textarea{
        border: 1px solid grey;
        border-radius: 5px;
    }
    [type="button"],[type="reset"]{
        padding:5px 10px;
        font-size: 50%;
        border-radius: 20px;
    }
}