*{
    margin:0;
    padding:0;
}
body{
    font-family:'kumbh sans',sans-serif;
}
header{
    background-color: #03045E;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-between;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: 'kumbh sans',sans-serif;
}
header div img{
    width:15%;
}
header div a{
    color:white;
    text-decoration: none;
    font-weight:600;
    font-family:'kumbh sans',sans-serif;
    font-size:120%;
}
header div a:hover{
    color:yellow;
    transition:0.2s;
}
div ul li{
    text-decoration:none;
    display:inline;
}
div ul li a{
    text-decoration:none;
    color: white;
    font-weight:600;
    font-size:120%;
    margin-left: 10px;
    margin-right:10px;
}
div ul li a:hover{
    color:yellow;
    transition:0.2s;
}
main{
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.lst{
    border: 5px solid black;
    width:75%;
    margin-top: 5%;
    border-style: double;
}
section{
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: space-between;
    align-items: flex-end;
    padding:2%;
    border:bottom 1px solid black;
    border-style: double;
}
section div.details{
    display:flex;
}
.details img{
    border:1px solid black;
}
[type="button"]{
    padding:10px 15px;
    background-image: linear-gradient(to right,#03045e,#1618b3,#4143b7,#4143b7,#1618b3,#03045e);
    border-color:transparent;
    border-radius:20px;
    border: none;
    color:white;
    font-weight:bold;
    font-family:'abril fat face',cursive;
    margin-right:20px;
}
[type="button"]:hover{
    background-image: linear-gradient(to right,rgb(2, 54, 2),rgb(7, 85, 7),green,green,rgb(7,85,7),rgb(2,54,2));
    transition:1s;
}
.dropdown{
    display:inline;
}
.dropbtn{
    display:inline-block;
    color:white;
    font-size:20px;
    font-weight: 500;
    padding:20px;
    text-decoration: none;
}
.dropdown-content{
    display:none;
    position:absolute;
    width:30%;
    border:1px solid black;
    background-color:white;
    padding:1%;
    min-width: 150px;
    box-shadow:5px 5px 5px grey;
    font-family:'courgette',cursive;
    z-index:1;
}
.dropdown:hover .dropdown-content{
    display:block;
}
footer{
    margin-top:5px;
    background-image:linear-gradient(white,#caf0f8);
    color:#03045E;
}
footer div.ftr{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    border-bottom: 1px solid white;
}
footer div img{
    width:10%;
    position:relative;
    left:45%;
}
