*{
    margin:0;
    padding:0;
}

header{
    background-color: #03045E;
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: 'kumbh sans',sans-serif;
}
header div img{
    width:15%;
}
header ul{
    list-style-type:none;
    margin:0;
    padding:0;
    overflow:hidden; 
    display:inline;
}
header ul li, .dropdown{
    display:inline;
}
ul li a,.dropbtn{
    display:inline-block;
    color:white;
    font-size:20px;
    font-weight: 500;
    padding:20px;
    text-decoration: none;
}
ul li a:hover, .dropdown:hover .dropbtn{
    color:yellow;
    transition: 0.3s;
}
.dropdown-content{
    display:none;
    position:absolute;
    background-color:white;
    padding:10px 0;
    min-width: 150px;
    box-shadow:5px 5px 5px grey;
    font-family:sans-serif;
    z-index:1;
}
.dropdown-content a{
    color:#03045E;
    padding:20px 0;
    text-decoration:none;
    display:block;
}
.dropdown-content a:hover{
    background-color:lightgrey;
    color:rgb(2, 51, 2);
    transition:0.4s;
}
.dropdown:hover .dropdown-content{
    display:block;
}
div ul li{
    text-decoration:none;
    display:inline;
}
div ul li a{
    text-decoration:none;
    color: white;
    font-weight:600;
    font-size:120%;
    margin-left: 10px;
    margin-right:10px;
}
div ul li a:hover{
    color:yellow;
    transition:0.2s;
}
main section div a{
    text-decoration:none;
}
#GWS{
    background-image:linear-gradient(#90E0EF,#aee8f2,#bcebf3,#aee8f2,#90e0ef);
    background-repeat:no-repeat;
    background-size: cover;
    padding:40px 0;
    margin-top: 20px;
    margin-left:20px;
    margin-right:20px;
    border-radius:20px;
    display:flex;
    justify-content: space-around;
    font-family: 'source sans pro',sans-serif;
}
#GWS img{
    width:100%;
    height:100%;
}
#GWS div{
    margin-left:30px;
}
#GWS div h1{
    font-size: 65px;
    width:50%;
}
button{
    padding:10px 15px;
    border-radius:10px;
    background-color:#03045E;
    border-color:#03045E;
    color:white;
    font-family:'source sans pro',sans-serif;
    font-weight:bold;
    border:none;
    font-size:22px;
}
button:hover{
    background-color:white;
    border-color:white;
    transition:0.2s;
    color:#03045E;
}
#about_us{
    background-color:transparent;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    color:black;
    margin-top: 5px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom:5px;
    padding:30px 0;
    font-size:16px;
    font-family:'kumbh sans',sans-serif;
}

.box{
    display:flex;
    justify-content: space-around;
}
.box div{
    border:1px solid black;
    box-shadow:4px 4px 4px grey;
    border-radius:10px;
}
.box div:hover{
    transform:scale(1.1);
    transition:0.5s;
}
footer{
    margin-top:5px;
    background-color: #CAF0F8;
    color:#03045E;
}
footer div.ftr{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    border-bottom: 1px solid white;
}
footer div img{
    width:10%;
    position:relative;
    left:45%;
}
