*{
    margin:0;
    padding:0;
}

header{
    background-color: #03045E;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-between;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: 'kumbh sans',sans-serif;
}
header div img{
    width:15%;
}
div ul li{
    text-decoration:none;
    display:inline;
}
div ul li a{
    text-decoration:none;
    color: white;
    font-weight:600;
    font-size:120%;
    margin-left: 10px;
    margin-right:10px;
}
div ul li a:hover{
    color:yellow;
    transition:0.2s;
}
main section div a{
    text-decoration:none;
}
#GWS{
    background-image:linear-gradient(#90E0EF,#aee8f2,#bcebf3,#aee8f2,#90e0ef);
    background-repeat:no-repeat;
    background-size: cover;
    padding:40px 0;
    margin-top: 20px;
    margin-left:20px;
    margin-right:20px;
    border-radius:20px;
    display:flex;
    justify-content: space-around;
    font-family: 'source sans pro',sans-serif;
}
#GWS img{
    width:100%;
    height:100%;
}
#GWS div{
    margin-left:30px;
}
#GWS div h1{
    font-size: 65px;
    width:50%;
}
button{
    padding:10px 15px;
    border-radius:10px;
    background-color:#03045E;
    border-color:#03045E;
    color:white;
    font-family:'source sans pro',sans-serif;
    font-weight:bold;
    font-size:22px;
}
button:hover{
    background-color:white;
    border-color:white;
    transition:0.2s;
    color:#03045E;
}
#about_us{
    background-color:transparent;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    color:black;
    margin-top: 5px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom:5px;
    padding:30px 0;
    font-size:16px;
    font-family:'kumbh sans',sans-serif;
}

.box{
    display:flex;
    justify-content: space-around;
}
.box div{
    border:1px solid black;
    box-shadow:4px 4px 4px grey;
    border-radius:10px;
}
#contact_us{
    margin:0 20px;
    background-image:linear-gradient(#CAF0F8,#E7F8FC,#caf0f8);
    border-radius: 10px;
    padding:30px 0;
    color:black;
    font-family:'abril fat face',cursive;
    font-size: 20px;
}
footer{
    display:flex;
    justify-content:flex-start;
    background-color:#03045E;
    padding:20px 0;
    margin:2px 20px;
    color:white;
    font-size: 20px;
}

header,main,footer{
    opacity:0.1;
}
form{
    background-color:white;
    border:5px solid transparent;
    border-radius:0px;
    position:absolute;
    top:35%;
    left:40%;
    width:20%;
    height:35%;
    box-shadow:10px 10px 10px grey;
}

form div a{
    text-decoration:none;
   color:black;
}
form div a:hover{
    color:#03045E;
    transition:0.3s;
}
.sgnn{
    padding:30px 10px;
    width:25%;
    height:50%;
    position:absolute;
    top:25%;
    border:1px solid black;
    font-family: 'kumbh sans',sans-serif;
}
.btn{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
   
}
.btn div a{
    color:#03045E;
    font-weight: bold;
}
.btn div a:hover{
    transform:scale(1.1);
    transition:0.3s;
}
.fa-google {
    background: #dd4b39;
    color: white;
    padding:10px;
    border-radius: 150px;
}
.fa-facebook {
    background: #3B5998;
    color: white;
    padding:10px;
    border-radius: 150px;
}