*{
    margin:0;
    padding:0;
}

header{
    background-color: #03045E;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-between;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: 'kumbh sans',sans-serif;
}
header div img{
    width:15%;
}
div ul li{
    text-decoration:none;
    display:inline;
}
div ul li a{
    text-decoration:none;
    color: white;
    font-weight:600;
    font-size:120%;
    margin-left: 10px;
    margin-right:10px;
}
div ul li a:hover{
    color:yellow;
    transition:0.2s;
}
form{
    background-color: white;
    position:absolute;
    top:20%;
    left:30%;
    border:1px solid black;
    padding:5px 0;
    box-shadow: 5px 5px 5px grey;
    height:70%;
    width:38%;
}
form h1 i{
    color:white;
    background-color: grey;
    border-radius:500px;
    padding:10px 10px;
}
form label{
    color:#03045E;
    font-weight: bold;
    font-family: 'source sans pro',sans-serif;
}
.frm{
    display:flex;
}
[type="button"]{
    padding:10px 15px;
    border:none;
    background-color:#03045E;
    border-color:#03045E;
    color:white;
    border-radius: 200px;

}
[type="button"]:hover{
    background-color:green;
    border-color:green;
    transition:0.3s;
   
}
[type="reset"]{
    padding:10px 15px;
    border:none;
    background-color:#03045E;
    border-color:#03045E;
    color:white;
    border-radius:200px;
}
[type="reset"]:hover{
    background-color:red;
    border-color:red;
    transition:0.3s;
    
}
form.edit{
    width:30%;
    height:76%;
    position:absolute;
    top:15%;
    left:30%;
    padding:2%;
}