*{
    margin:0;
    padding:0;
}
header{
    background-color: #03045E;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-between;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: 'kumbh sans',sans-serif;
}
header div img{
    width:15%;
}
header div a{
    color:white;
    text-decoration: none;
    font-weight:600;
    font-family:'kumbh sans',sans-serif;
    font-size:120%;
}
header div a:hover{
    color:yellow;
    transition:0.2s;
}
div ul li{
    text-decoration:none;
    display:inline;
}
div ul li a{
    text-decoration:none;
    color: white;
    font-weight:600;
    font-size:120%;
    margin-left: 10px;
    margin-right:10px;
}
div ul li a:hover{
    color:yellow;
    transition:0.2s;
}
main{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-around;
    align-content:center;
    height:80%;
}
main div{
    border:1px solid black;
    border-radius: 20px;
    box-shadow:10px 10px 10px grey;
    width:15%;
    padding:20px;
    margin-top:10%;
    background-color:white;
}
main div:hover{
    transform:scale(1.1);
    transition:0.3s;
}

main div h2{
    margin-left:50px;
}
main div a{
    text-decoration: none;
    color:#03045E;
}
footer{
    margin-top:5px;
    background-color: #00B4D8;
    color:white;
}
footer div.ftr{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    border-bottom: 1px solid white;
}
footer div img{
    width:10%;
    position:relative;
    left:45%;
}