*{
    margin:0;
    padding:0;
}

header{
    background-color: #03045E;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-between;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: 'kumbh sans',sans-serif;
}
header div img{
    width:15%;
}
header div a{
    color:white;
    text-decoration: none;
    font-weight:600;
    font-family:'kumbh sans',sans-serif;
    font-size:120%;
}
header div a:hover{
    color:yellow;
    transition:0.2s;
}
div ul li{
    text-decoration:none;
    display:inline;
}
div ul li a{
    text-decoration:none;
    color: white;
    font-weight:600;
    font-size:120%;
    margin-left: 10px;
    margin-right:10px;
}
div ul li a:hover{
    color:yellow;
    transition:0.2s;
}
main{
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.lst{
    border: 1px solid black;
    width:40%;
    margin-top: 5%;
}
.section{
    display:flex;
    margin-left:10%;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: space-between;
    align-items: center;
    border:1px solid black;
    padding:10px 0;
    margin-top:5%;
    width:80%;
}
.section:hover{
    transform:scale(1.1);
    transition:0.4s;
}
div i{
    font-size:150%;
    padding:0 20px;
}
h2{
    padding: 25px;
    border-bottom:1px solid darkcyan;
}

[type="button"]{
    padding:5px 10px;
    background-color:#03045E;
    border-color:#03045E;
    border-radius:2px;
    border: none;
    color:white;
    font-weight:bold;
    font-family:'abril fat face',cursive;
    margin-right:20px;
}
[type="button"]:hover{
    transform:scale(1.1);
    transition:0.3s;
}
footer{
    margin-top:5px;
    background-color: #CAF0F8;
    color:#03045E;
}
footer div.ftr{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    border-bottom: 1px solid white;
}
footer div img{
    width:10%;
    position:relative;
    left:45%;
}
