*{
    margin:0;
    padding:0;
}
body{
    background-image: url(../images/imageedit_1_2219463975.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: sans-serif;
}
form{
    position:absolute;
    top:25%;
    left:40%;
    background-color: white;
    border:1px solid black;
    box-shadow: 5px 5px 5px grey;
    border-radius: 5%;
    width:20%;
    padding:2%;
}
form div img{
    width:40%;
}
form div a:hover{
    text-decoration: none;
    transition:0.3s;
}
.box{
    padding:5%;
}
.box:hover{
    border:1px solid #03045E;
    transition:0.3s;
}
.frm{
    display:flex;
}
.sgn{
    width:25%;
    left:35%;
    top:25%;
    box-shadow: 10px 10px 10px grey;
}
[type="button"]{
    padding:5px 15px;
    color:white;
    background-color:#03045E;
    border-color: #03045E;
    border-radius: 20px;
    border:none;
}
[type="button"]:hover{
    background-color:green;
    border-color: green;
    transition:0.3s;
}

@media  screen and (max-width:800px) {
    body{
        background-image: url(../images/imageedit_2_3101151645.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        font-family: sans-serif;
    }
    form{
        top:20%;
        left:13%;
        border-radius:20px;
        font-size: 80%;
        width:70%;
    }
    .sgn{
        width:75%;
        left:10%;
    }
}