*{
    padding:0;
}
body{
    background-image:url("../images/GettyImages-899023540.jpg");
    background-attachment:scroll;
    background-repeat: no-repeat;
    background-size: cover;

}
header{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-between;
    background-image: linear-gradient(darkturquoise,cyan,darkturquoise);
    align-items: center;
}
header div img{
    width:20%;
}
div ul li{
    text-decoration:none;
    display:inline;
}
div ul li a{
    text-decoration:none;
    color:black;
    font-weight:600;
    font-size:120%;
    font-family:"source sans pro";
    margin-left:10px;
    margin-right:10px;
}
div ul li a:hover{
    transition:0.2s;
    border-bottom: 2px solid #811CC7;
    padding-bottom:5px;
}
#home{
    padding:10px 15px;
    border-radius:5%;
    background-color:#AE38F4;
    border-color:#AE38F4;
}
#home:hover{
    background-color:white;
    border-color:white;
    transition:0.2s;
}
#btn{
    color:white;
}
#btn:hover{
    color:#811CC7;
    transition:0.2s;
}

h1{
    font-size:40px;
    font-family:"abril fat face";
}
div.update{
    width:50%;
    font-family:"kumbh sans";
}
div.update h3{
    font-size: 25px;
}
div.update p{
    font-style:italic;
    font-size: 20px;
    font-family:"abril fat face";
}
details{
    border:1.5px solid black;
    margin-left:45px;
    margin-top:20px;
}
details:hover{
    box-shadow:10px 10px 10px black;
    transform:scale(1.1);
    transition:0.2s;

}
details img{
    width:40%;
    border:5px solid black;
    border-style:double;
}