*{
    padding:0
}
header{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-between;
    background-image: linear-gradient(darkturquoise,cyan,darkturquoise);
    align-items: center;
}
header div img{
    width:20%;
}
div ul li{
    text-decoration:none;
    display:inline;
}
div ul li a{
    text-decoration:none;
    color:black;
    font-weight:600;
    font-size:120%;
    margin-left:10px;
    margin-right:10px;
}
div ul li a:hover{
    color:#811CC7;
    transition:0.2s;
}
#home{
    padding:10px 15px;
    border-radius:5%;
    background-color:#AE38F4;
    border-color:#AE38F4;
}
#home:hover{
    background-color:white;
    border-color:white;
    transition:0.2s;
}
#btn{
    color:white;
}
#btn:hover{
    color:#811CC7;
    transition:0.2s;
}
form{
    position:absolute;
    left:30%;
    width:40%;
    background-color:#c9fcff;
}


.details{
    font-size:20px;
    font-weight:300;
    margin-left:20%;
}
button{
    background-color:white;
    border-color:white;
    border-radius:5%;
    padding:10px 15px;
    color:darkcyan;
    font-weight:bold;
    font-family:"source sans pro";
}
button:hover{
    background-color:darkcyan;
    border-color:darkcyan;
    transition:0.2s;
    color:white;
}
[type="button"] a{
    text-decoration:none;
    color:darkcyan;
    font-family:"source sans pro";
    font-weight:bold;
}
[type="reset"]{
    width:-10%;
    height:-10%;
}
[type="button"] a:hover{
    color:white;
    transition:0.2s;
}
input{
    border:none;
}
input[type="radio"]:after{
    width: 10px;
    height: 10px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color:white;
    content: '';
    display: inline-block;
    border: 1px solid black;
}
input[type="radio"]:checked:after{
    width: 10px;
    height: 10px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color:darkcyan;
    content: '';
    display: inline-block;
    border: 1px solid black;
}