*{
    margin:0;
    padding:0;
}

header{
    background-color: #03045E;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-between;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: "kumbh sans";
}
header div img{
    width:15%;
}
div ul li{
    text-decoration:none;
    display:inline;
}
div ul li a{
    text-decoration:none;
    color: white;
    font-weight:600;
    font-size:120%;
    margin-left: 10px;
    margin-right:10px;
}
div ul li a:hover{
    color:yellow;
    transition:0.2s;
}
main section div a{
    text-decoration:none;
}
#GWS{
    background-image:linear-gradient(#90E0EF,#aee8f2,#bcebf3,#aee8f2,#90e0ef);
    background-repeat:no-repeat;
    background-size: cover;
    padding:40px 0;
    margin-top: 20px;
    margin-left:20px;
    margin-right:20px;
    border-radius:20px;
    display:flex;
    justify-content: space-around;
    font-family: "source sans pro";
}
#GWS img{
    width:100%;
    height:100%;
}
#GWS div{
    margin-left:30px;
}
#GWS div h1{
    font-size: 65px;
    width:50%;
}
button{
    padding:10px 15px;
    border-radius:10px;
    background-color:#03045E;
    border-color:#03045E;
    color:white;
    font-family:"source sans pro";
    font-weight:bold;
    font-size:22px;
}
button:hover{
    background-color:white;
    border-color:white;
    transition:0.2s;
    color:#03045E;
}
#about_us{
    background-color:transparent;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    color:black;
    margin-top: 5px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom:5px;
    padding:30px 0;
    font-size:16px;
    font-family:"kumbh sans";
}

.box{
    display:flex;
    justify-content: space-around;
}
.box div{
    border:1px solid black;
    box-shadow:4px 4px 4px grey;
    border-radius:10px;
}
.box div:hover{
    transform:scale(1.1);
    transition:0.5s;
}
#contact_us{
    margin:0 20px;
    background-image:linear-gradient(#CAF0F8,#E7F8FC,#caf0f8);
    border-radius: 10px;
    padding:30px 0;
    color:black;
    font-family:"abril fat face";
    font-size: 20px;
}
footer{
    display:flex;
    justify-content:flex-start;
    background-color:#03045E;
    padding:20px 0;
    margin:2px 20px;
    color:white;
    font-size: 20px;
}

header,main,footer{
    opacity:0.1;
}
form{
    background-color:white;
    border:5px solid transparent;
    border-radius:0px;
    position:absolute;
    top:40%;
    left:40%;
    width:20%;
    height:30%;
    box-shadow:10px 10px 10px grey;
}
form div{
    padding-left:50px;
    color:black;
    font-family:"kumbh sans";
    font-size:120%;
    padding:10% 0;
    margin-left:30%;
}
form div:hover{
   color:#03045E;
   font-weight:bold;
    transition:0.3s;
}

form div a{
    text-decoration:none;
   color:black;
}

input[type="radio"]:after{
    width: 10px;
    height: 10px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #d1d3d1;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid #d1d3d1;
    
}
input[type="radio"]:checked:after{
    width: 10px;
    height: 10px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: darkcyan;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid darkcyan;
    
}