*{
    margin-left:10px;
    margin-right:10px;
    padding:0;
    font-family:"kumbh sans";
}
body{
    background-image:linear-gradient(#EDD3FD,white,#EDD3FD);
    font-family:"source sans pro";
}
header{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-between;
    align-content:center;
    border-bottom: 2px solid #AE38F4;
}
header div img{
    width:20%;
}
div ul li{
    text-decoration:none;
    display:inline;
}
div ul li a{
    text-decoration:none;
    color:black;
    font-weight:600;
    font-size:120%;
}
div ul li a:hover{
    color:#811CC7;
    transition:0.2s;
}
#home{
    padding:10px 15px;
    border-radius:5%;
    background-color:#AE38F4;
    border-color:#AE38F4;
}
#home:hover{
    background-color:white;
    border-color:white;
    transition:0.2s;
}
#btn{
    color:white;
}
#btn:hover{
    color:#811CC7;
    transition:0.2s;
}
main{
    position:absolute;
    top:30%;
    left:15%;
    width:70%;
} 
main h1{
    font-family:"abril fat face";
    color:#5B0D77;
    text-align: center;
    font-size:60px;
}
main button{
    padding:15px 30px;
    background-color:#AE38F4;
    color:white;
    border-color:#AE38F4;
    border-radius:5px;
    border:none;
    font-weight:bold;
    font-family:"courgette";
    font-size:30px;
    position:absolute;
    right:10px;
}
main button:hover{
    background-color:white;
    border-color:#AE38F4;
    color:#5B0D77;
    transition:0.5s;

}