*{
    margin:0;
    padding:0;
}

   
header{
    background-color: #03045E;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-between;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: "kumbh sans";
}
header div img{
    width:15%;
}
header div ul li{
    text-decoration:none;
    display:inline;
}
div ul li a{
    text-decoration:none;
    color: white;
    font-weight:600;
    font-size:120%;
    margin-left: 10px;
    margin-right:10px;
}
div ul li a:hover{
    color:yellow;
    transition:0.2s;
}
main{
    display:flex;
    justify-content: flex-start;
}
form{
    background-color:white;
    width:75%;
    height:95%;
    position:relative;
    left:5%;
   
    font-family: "source sans pro";
    padding-top:2%;
    
}
form h1{
    color:#03045E;
    font-size: 30px;
}
section{
    text-align: center;
}
form div{
    margin-left:5%;
    margin-right: 5%;
    margin-bottom: 10px;
}
form div ul li{
    margin-bottom: 10px;
}
form div a{
    text-decoration: none;
}
ul li p{
    font-family:"abril fat face";
    font-style:italic;
    font-weight:300;
}
[type="button"]{
    padding:10px 15px;
    background-color:#03045E;
    border-color:#03045E;
    color:white;
    font-family:"kumbh sans";
    font-weight:bold;
    border:none;
}
[type="button"]:hover{
    background-color:white;
    border-color:white;
    color:#03045E;
    transition:0.2s;
}
footer{
    margin-top:5px;
    background-color: #CAF0F8;
    color:#03045E;
}
footer div.ftr{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    border-bottom: 1px solid white;
}
footer div img{
    width:10%;
    position:relative;
    left:45%;
}